<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>
        <div class="order-list-wrap">
          <p>Terms & Conditions</p>
        </div>
      </ion-label>
      <ion-note slot="end" color="primary">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="order-list-wrap">
          <p>Privacy Policy</p>
        </div>
      </ion-label>
      <ion-note slot="end" color="primary">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="order-list-wrap">
          <p>About Us</p>
        </div>
      </ion-label>
      <ion-note slot="end" color="primary">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <div class="order-list-wrap">
          <p>Contact Us</p>
        </div>
      </ion-label>
      <ion-note slot="end" color="primary">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <p class="ion-text-center">Genie!</p>
</ion-footer>