.order-list-wrap{
    p{
        color: #000;
        font-size: 18px;
    }
}

ion-note{
    color: #b1b1b1;
    font-size: 18px;
}

ion-footer{
    p{
        color: #b1b1b1;
        font-size: 18px;
    }
}