<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order from {{displayList[0].categoryName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="topBottomPadding">
    <ion-searchbar class="app-search-bar" showCancelButton="never" color="white"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let category of displayList">
    <ion-card (click)="seeProducts(category.categoryId)">
      <img src="{{category.imageUrl}}" />

      <div class="chip-left">
        <ion-chip>
          <ion-label>{{category.status}}</ion-label>
        </ion-chip>
      </div>

      <div class="chip-right">
        <ion-chip>
          <ion-icon name="star"></ion-icon>
          <ion-label>{{category.rating}}</ion-label>
        </ion-chip>
      </div>

      <ion-card-content>
        <ion-label class="label">{{category.name}}</ion-label>
        <ion-chip color="green">
          <ion-label>{{category.status}}</ion-label>
        </ion-chip>

        <ion-chip>
          <ion-label>{{category.status}}</ion-label>
        </ion-chip>

        <p class="suntitle">{{category.address}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>