<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order from Restraunt</ion-title>
  </ion-toolbar>
  <ion-toolbar class="topBottomPadding">
    <ion-searchbar class="app-search-bar" showCancelButton="never" color="white"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card (click)="seeProducts()">
    <img src="/assets/ic_plateone.png" />

    <div class="chip-left">
      <ion-chip>
        <ion-label>Open</ion-label>
      </ion-chip>

    </div>

    <div class="chip-right">
      <ion-chip>
        <ion-icon name="star"></ion-icon>
        <ion-label>4.5</ion-label>
      </ion-chip>
    </div>


    <ion-card-content>
      <ion-label class="label">Happy Bones</ion-label>
      <ion-chip color="green">
        <ion-label>Open</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Open</ion-label>
      </ion-chip>

      <p class="suntitle">#394, Some st, Bangalore, 560011</p>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="seeProducts()">
    <img src="/assets/ic_platetwo.png" />

    <div class="chip-left">
      <ion-chip>
        <ion-label>Open</ion-label>
      </ion-chip>

    </div>

    <div class="chip-right">
      <ion-chip>
        <ion-icon name="star"></ion-icon>
        <ion-label>4.5</ion-label>
      </ion-chip>
    </div>


    <ion-card-content>
      <ion-label class="label">Happy Bones</ion-label>
      <ion-chip color="green">
        <ion-label>Open</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Open</ion-label>
      </ion-chip>

      <p class="suntitle">#394, Some st, Bangalore, 560011</p>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="seeProducts()">
    <img src="/assets/ic_plateone.png" />

    <div class="chip-left">
      <ion-chip>
        <ion-label>Open</ion-label>
      </ion-chip>

    </div>

    <div class="chip-right">
      <ion-chip>
        <ion-icon name="star"></ion-icon>
        <ion-label>4.5</ion-label>
      </ion-chip>
    </div>


    <ion-card-content>
      <ion-label class="label">Happy Bones</ion-label>
      <ion-chip color="green">
        <ion-label>Open</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Open</ion-label>
      </ion-chip>

      <p class="suntitle">#394, Some st, Bangalore, 560011</p>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="seeProducts()">
    <img src="/assets/ic_plateone.png" />

    <div class="chip-left">
      <ion-chip>
        <ion-label>Open</ion-label>
      </ion-chip>

    </div>

    <div class="chip-right">
      <ion-chip>
        <ion-icon name="star"></ion-icon>
        <ion-label>4.5</ion-label>
      </ion-chip>
    </div>


    <ion-card-content>
      <ion-label class="label">Happy Bones</ion-label>
      <ion-chip color="green">
        <ion-label>Open</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Open</ion-label>
      </ion-chip>

      <p class="suntitle">#394, Some st, Bangalore, 560011</p>
    </ion-card-content>
  </ion-card>
</ion-content>