.customButton {
    border: solid 1px #3880FF;
    width: 75px;
    height: 24px;
    border-radius: 30px;
    margin-right:10px
}

.vegOrNonVegSquare {
    border: solid 1px #00FF00;
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

.itemLabel {
    padding-left: 20px;
}

.item {
    font-weight: 900;
}

.iconSize {
    font-size: 512px;
  }