<ion-content class="ion-padding">
  <div class="location-wrap">
    <div class="location-map-details">
      <img src="/assets/location-edit.png" />
    </div>
    <div class="location-details">
      <p>You are here</p>
      <p>Tirupathi</p>
    </div>
  </div>
  <div class="location-map">
    <img src="/assets/ic_map.png" />
    <div class="location-map-text">
      <p> We don't deliver here yet</p>
      <p> Please try picking a different location</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button color="secondary" expand="block" rourterDirection="forward" routerLink="/tabs">Dashboard</ion-button>
  <ion-button color="primary" expand="block" disabled>Change Location</ion-button>
</ion-footer>