<ion-content>
  <div class="order-sucess-wrap">
    <img src="/assets/success.png" />
    <p class="confirm-txt">Order Confirmerd</p>
    <p>Order ID 8739A2849B</p>
  </div>
  <ion-row class="order-status-top-row">
    <ion-col size="12">
      <ul class="order-lists">
        <li>
          <div class="align-start">
            <p>French Fries</p>
            <p>75/-</p>
          </div>
          <div class="align-end">
            *1
          </div>
        </li>
        <li>
          <div class="align-start">
            <p>Red Forest Ice Cream</p>
            <p>150/-</p>
          </div>
          <div class="align-end">
            *1
          </div>
        </li>
      </ul>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="payment-details">
      <h4>Payment Details</h4>
        <ul>
          <li>
            <p>C. GST @18%</p>
            <p>Free</p>
          </li>
          <li>
            <p>S. GST @18%</p>
            <p>20/-</p>
          </li>
          <li>
            <p>Total Amount Paid</p>
            <p>267/-</p>
          </li>
        </ul>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-button routerDirection="forward" routerLink="/tabs/tab1">Back To Home</ion-button>
</ion-footer>