path {
    color: orange !important;
}

.rating {
    font-size: 10px;
    padding-top: 4px;
}

.distance {
    padding-left: 3px; 
    color:seagreen;
}

.address{
   font-size: 13px !important;
}

.iconColor {
    color: orange;
}