<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order from {{items[0].categoryName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div >
    <span>
      <ion-searchbar showCancelButton="never" color="white"></ion-searchbar>
    </span>
  </div>

  <ion-list no-lines *ngFor="let item of items">

    <ion-item (click)="seeItems(item.categoryId)" [disabled]="!item.isAvailable">
      <ion-thumbnail slot="start">
        <img src="{{item.imageUrl}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{item.name}}</h2>
        <p class="address">{{item.address}}</p>
        <p class="rating">
          <ion-icon name="star" class="iconColor"></ion-icon>
          {{item.rating}}
          <span class="distance">{{item.distance}} kms</span>
        </p>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>